body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:990px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:990px;
}
#u1 {
  position:absolute;
  left:2px;
  top:487px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:9px;
  top:62px;
  width:1001px;
  height:10px;
}
#u2_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_end {
  position:absolute;
  left:984px;
  top:-5px;
  width:18px;
  height:20px;
}
#u2_line {
  position:absolute;
  left:0px;
  top:5px;
  width:1001px;
  height:1px;
}
#u3 {
  position:absolute;
  left:10px;
  top:82px;
  width:1000px;
  height:878px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:878px;
}
#u4 {
  position:absolute;
  left:2px;
  top:431px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:30px;
  top:155px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:30px;
  top:177px;
  width:940px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u8 {
  position:absolute;
  left:30px;
  top:602px;
  width:73px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:30px;
  top:624px;
  width:940px;
  height:10px;
}
#u10_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u10_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u11 {
  position:absolute;
  left:360px;
  top:100px;
  width:60px;
  height:40px;
}
#u11_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u12 {
  position:absolute;
  left:440px;
  top:100px;
  width:100px;
  height:40px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u13 {
  position:absolute;
  left:560px;
  top:100px;
  width:60px;
  height:40px;
}
#u13_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u14 {
  position:absolute;
  left:87px;
  top:107px;
  width:121px;
  height:24px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:24px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u16 {
  position:absolute;
  left:30px;
  top:94px;
  width:50px;
  height:50px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u17 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:30px;
  top:756px;
  width:37px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  height:22px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:37px;
  white-space:nowrap;
}
#u20 {
  position:absolute;
  left:30px;
  top:778px;
  width:940px;
  height:10px;
}
#u20_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u20_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u21 {
  position:absolute;
  left:122px;
  top:798px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u23 {
  position:absolute;
  left:161px;
  top:798px;
  width:789px;
  height:90px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:789px;
  height:90px;
}
#u24 {
  position:absolute;
  left:2px;
  top:37px;
  width:785px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:380px;
  top:903px;
  width:60px;
  height:37px;
}
#u25_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u26 {
  position:absolute;
  left:460px;
  top:903px;
  width:100px;
  height:37px;
}
#u26_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u27 {
  position:absolute;
  left:580px;
  top:903px;
  width:60px;
  height:37px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:37px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u28 {
  position:absolute;
  left:10px;
  top:4px;
  width:243px;
  height:63px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:63px;
}
#u29 {
  position:absolute;
  left:2px;
  top:24px;
  width:239px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:781px;
  top:16px;
  width:39px;
  height:39px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:39px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:829px;
  top:28px;
  width:67px;
  height:16px;
  font-size:14px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:16px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:910px;
  top:25px;
  width:30px;
  height:21px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:21px;
}
#u35 {
  position:absolute;
  left:2px;
  top:2px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:396px;
  top:970px;
  width:209px;
  height:17px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:17px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:950px;
  top:23px;
  width:60px;
  height:25px;
}
#u38_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u39 {
  position:absolute;
  left:820px;
  top:117px;
  width:150px;
  height:50px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:50px;
}
#u40 {
  position:absolute;
  left:2px;
  top:17px;
  width:146px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:61px;
  top:658px;
  width:597px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:63px;
  top:681px;
  width:595px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:595px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:678px;
  top:668px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u46 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u47 {
  position:absolute;
  left:63px;
  top:717px;
  width:597px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  white-space:nowrap;
}
#u49 {
  position:absolute;
  left:680px;
  top:714px;
  width:80px;
  height:20px;
}
#u49_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:20px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u50 {
  position:absolute;
  left:870px;
  top:602px;
  width:100px;
  height:25px;
}
#u50_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u51 {
  position:absolute;
  left:30px;
  top:494px;
  width:91px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  height:22px;
}
#u52 {
  position:absolute;
  left:0px;
  top:0px;
  width:91px;
  white-space:nowrap;
}
#u53 {
  position:absolute;
  left:30px;
  top:516px;
  width:940px;
  height:10px;
}
#u53_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_end {
  position:absolute;
  left:923px;
  top:-5px;
  width:18px;
  height:20px;
}
#u53_line {
  position:absolute;
  left:0px;
  top:5px;
  width:940px;
  height:1px;
}
#u54 {
  position:absolute;
  left:63px;
  top:536px;
  width:365px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  height:16px;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:365px;
  white-space:nowrap;
}
#u56 {
  position:absolute;
  left:64px;
  top:559px;
  width:597px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:16px;
}
#u57 {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:870px;
  top:494px;
  width:100px;
  height:25px;
}
#u58_input {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u59 {
  position:absolute;
  left:80px;
  top:210px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u60 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u61 {
  position:absolute;
  left:574px;
  top:210px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u62 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u63 {
  position:absolute;
  left:108px;
  top:248px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u64 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u65 {
  position:absolute;
  left:602px;
  top:248px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u67 {
  position:absolute;
  left:80px;
  top:288px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u68 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u69 {
  position:absolute;
  left:602px;
  top:288px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u70 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u71 {
  position:absolute;
  left:94px;
  top:328px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u72 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u73 {
  position:absolute;
  left:602px;
  top:328px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u75 {
  position:absolute;
  left:94px;
  top:368px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u77 {
  position:absolute;
  left:574px;
  top:368px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u79 {
  position:absolute;
  left:94px;
  top:408px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u80 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u81 {
  position:absolute;
  left:560px;
  top:408px;
  width:85px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:16px;
}
#u82 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u83 {
  position:absolute;
  left:122px;
  top:448px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u84 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u85 {
  position:absolute;
  left:588px;
  top:448px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u86 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u87 {
  position:absolute;
  left:163px;
  top:210px;
  width:53px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:16px;
}
#u88 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u89 {
  position:absolute;
  left:163px;
  top:248px;
  width:169px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  height:16px;
}
#u90 {
  position:absolute;
  left:0px;
  top:0px;
  width:169px;
  white-space:nowrap;
}
#u91 {
  position:absolute;
  left:163px;
  top:288px;
  width:99px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:16px;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u93 {
  position:absolute;
  left:643px;
  top:210px;
  width:57px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
}
#u94 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u95 {
  position:absolute;
  left:643px;
  top:248px;
  width:65px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
}
#u96 {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u97 {
  position:absolute;
  left:643px;
  top:288px;
  width:78px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
}
#u98 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u99 {
  position:absolute;
  left:163px;
  top:368px;
  width:120px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:16px;
}
#u100 {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  white-space:nowrap;
}
#u101 {
  position:absolute;
  left:643px;
  top:328px;
  width:96px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
}
#u102 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u103 {
  position:absolute;
  left:643px;
  top:408px;
  width:29px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
}
#u104 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u105 {
  position:absolute;
  left:163px;
  top:408px;
  width:71px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
}
#u106 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u107 {
  position:absolute;
  left:643px;
  top:448px;
  width:17px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:16px;
}
#u108 {
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  white-space:nowrap;
}
#u109 {
  position:absolute;
  left:163px;
  top:448px;
  width:43px;
  height:16px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#0780C7;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:16px;
}
#u110 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u111 {
  position:absolute;
  left:630px;
  top:100px;
  width:60px;
  height:40px;
}
#u111_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
#u112 {
  position:absolute;
  left:650px;
  top:902px;
  width:60px;
  height:40px;
}
#u112_input {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:center;
}
