<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC 
	"-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jg2b.api.crm.login.dao.ILoginDao">

	<select id="searchUser" resultType="com.jg2b.api.crm.login.pojo.UserPojo">
		SELECT t.gid,t.id,t.Name,t.NickName,t.FullName,t.Password,t.Email FROM T_Auth_Users t
		WHERE t.Name=#{0}  AND t.Password=#{1}
	</select>
	
</mapper>